{% extends "servee_blog/blog_base.html" %}
{% load frontendadmin_tags %}

{% block head_title %}{{ post.title }} &mdash; {{ block.super }}{% endblock %}


{% block primary %}
	<div class="blogPost">
    <h2>{{ post.title }}</h2>
    {% frontendadmin_change post "Change Post" %}
    
	{% if post.images.count > 0 %}
	<div class="floatBox">
	{% for im in post.images.all %}
	    <img src="{{ im }}" width="{{ im.width }}" height="{{ im.height }}" />
    {% endfor %}
	</div>
	{% endif %}
   
    {{ post.content_html|safe }}
    {% include "servee_blog/dateline.html" %}  
    </div>  
{% endblock %}






